In [ ]:
import pandas as pd
basic_info_path = '/Users/shin-yoonhwan/vscode/stock_data/data/700basic_info_df.csv'
detail_data_path = '/Users/shin-yoonhwan/vscode/stock_data/data/detail_data_533.csv'
all_monney_info_path = '/Users/shin-yoonhwan/vscode/stock_data/data/all_money_info.csv'
basic_info_df = pd.read_csv(basic_info_path)
detail_data_df = pd.read_csv(detail_data_path)
all_monney_info_df = pd.read_csv(all_monney_info_path)

In [16]:
print(len(basic_info_df['Ticker'].unique()))
print(len(detail_data_df['Ticker'].unique()))
basic_info_ticker = basic_info_df['Ticker'].unique()
detail_data_ticker = detail_data_df['Ticker'].unique()
not_same = [x for x in basic_info_ticker if x not in detail_data_ticker]
print(not_same)

533
486
['GOOG', 'BRK.A', 'PLTR', 'APP', 'GEV', 'ABNB', 'DASH', 'CEG', 'COIN', 'SNOW', 'KVUE', 'CPNG', 'RBLX', 'LEN.B', 'GEHC', 'OWL', 'HOOD', 'RDDT', 'HEI.A', 'VLTO', 'IOT', 'TKO', 'TPG', 'GFS', 'EXE', 'WSO.B', 'EDR', 'FOX', 'ALAB', 'AFRM', 'BF.A', 'Z', 'TOST', 'NWS', 'CRBG', 'RYAN', 'SOFI', 'AZPN', 'PARAA', 'DUOL', 'RIVN', 'SYM', 'BSY', 'AGR', 'CAVA', 'LINE', 'SN']

In [18]:
basic_info_df_copy = basic_info_df.copy()
for ticker in not_same:
   basic_info_df_copy = basic_info_df_copy[basic_info_df_copy['Ticker'] != ticker]

print(basic_info_df_copy.head())

  Stock Name Ticker  Market Cap Exchange        Country  \
0      Apple   AAPL  $3,846,826   NASDAQ  United States
1     NVIDIA   NVDA  $3,298,803   NASDAQ  United States
2  Microsoft   MSFT  $3,246,069   NASDAQ  United States
3     Amazon   AMZN  $2,365,036   NASDAQ  United States
5   Alphabet  GOOGL  $2,343,050   NASDAQ  United States

                    Sector                   Industry
0  Computer and Technology  Computer - Microcomputers
1  Computer and Technology    Semiconductor - General
2  Computer and Technology          Computer Software
3         Retail/Wholesale          Internet Commerce
5  Computer and Technology          Internet Services

In [19]:
basic_info_df_copy.to_csv('dropped_basic_info.csv')

In [26]:
dropped_basic_info_path = '/Users/shin-yoonhwan/vscode/stock_data/data/dropped_basic_info.csv'
dropped_basic_info_df = pd.read_csv(dropped_basic_info_path)
print(len(dropped_basic_info_df['Industry'].unique()))
print(len(dropped_basic_info_df['Sector'].unique()))

148
16

In [27]:
dropped_basic_info_df.head(10)

,Unnamed: 0,Stock Name,Ticker,Market Cap,Exchange,Country,Sector,Industry
0,0,Apple,AAPL,"$3,846,826",NASDAQ,United States,Computer and Technology,Computer - Microcomputers
1,1,NVIDIA,NVDA,"$3,298,803",NASDAQ,United States,Computer and Technology,Semiconductor - General
2,2,Microsoft,MSFT,"$3,246,069",NASDAQ,United States,Computer and Technology,Computer Software
3,3,Amazon,AMZN,"$2,365,036",NASDAQ,United States,Retail/Wholesale,Internet Commerce
4,5,Alphabet,GOOGL,"$2,343,050",NASDAQ,United States,Computer and Technology,Internet Services
5,6,Meta Platforms,META,"$1,477,457",NASDAQ,United States,Computer and Technology,Internet Software
6,7,Tesla,TSLA,"$1,351,628",NASDAQ,United States,Auto/Tires/Trucks,Auto Manufacturers - Domestic
7,8,Broadcom,AVGO,"$1,031,217",NASDAQ,United States,Computer and Technology,Semiconductors
8,10,Berkshire Hathaway,BRK.B,"$977,286",NYSE,United States,Finance,"Property, Casualty and Title Insurance"
9,11,Walmart,WMT,"$741,000",NYSE,United States,Retail/Wholesale,Retail - Supermarket Chains

In [37]:
detail_data_path = '/Users/shin-yoonhwan/vscode/stock_data/data/detail_data_533.csv'
all_money_info_path = '/Users/shin-yoonhwan/vscode/stock_data/data/all_money_info.csv'

detail_data_df = pd.read_csv(detail_data_path)
all_money_info_df = pd.read_csv(all_money_info_path)
print(detail_data_df.shape)
print(all_money_info_df.shape)

(12150, 10)
(12025, 11)

In [42]:
all_combined_path = '/Users/shin-yoonhwan/vscode/stock_data/data/combined_data/all_combined_data.csv'
all_combined_df = pd.read_csv(all_combined_path)
df = pd.DataFrame(all_combined_df)

def convert_to_quarter(date):
    return pd.Series(date).str.replace(
        r'(\d{2})\.(\d{2})/\d{2}',  # 정규표현식: 연도.월/일
        lambda m: f"{m.group(1)}.Q{(int(m.group(2)) - 1) // 3 + 1}",  # 쿼터 계산
        regex=True
    )

# 변환 적용
df['Quarter'] = convert_to_quarter(df['Quarter'])

df.to_csv('converted_quarter.csv', index = False)

In [2]:
import pandas as pd
final_df_path = '/Users/shin-yoonhwan/vscode/stock_data/data/combined_data/converted_quarter.csv'
final_df = pd.read_csv(final_df_path)
final_df.shape

(12150, 27)

In [15]:
final_df_ticker = final_df['Ticker'].unique()
print(len(final_df_ticker))

486

In [17]:
basic_info_path = '/Users/shin-yoonhwan/vscode/stock_data/data/basic_data/dropped_basic_info.csv'
basic_info_df = pd.read_csv(basic_info_path)

filtered = basic_info_df['Ticker'].isin(final_df_ticker)
filtered_basic_df = basic_info_df[filtered]
filtered_basic_df.drop(columns=['Unnamed: 0'], inplace=True)
print(filtered_basic_df.head())

  Stock Name Ticker  Market Cap Exchange        Country  \
0      Apple   AAPL  $3,846,826   NASDAQ  United States
1     NVIDIA   NVDA  $3,298,803   NASDAQ  United States
2  Microsoft   MSFT  $3,246,069   NASDAQ  United States
3     Amazon   AMZN  $2,365,036   NASDAQ  United States
4   Alphabet  GOOGL  $2,343,050   NASDAQ  United States

                    Sector                   Industry
0  Computer and Technology  Computer - Microcomputers
1  Computer and Technology    Semiconductor - General
2  Computer and Technology          Computer Software
3         Retail/Wholesale          Internet Commerce
4  Computer and Technology          Internet Services

In [20]:
filtered_basic_df.to_csv('filtered_basic_info.csv', index=False)

In [21]:
converted_quarter_path = '/Users/shin-yoonhwan/vscode/stock_data/data/combined_data/converted_quarter.csv'
converted_quarter_df = pd.read_csv(converted_quarter_path)

In [24]:
merged_basic_detail_df = pd.merge(converted_quarter_df, filtered_basic_df[['Ticker', 'Sector']], on = ['Ticker'], how = 'left')
merged_basic_detail_df.head()

,Unnamed: 0,Ticker,Quarter,EPS,BPS,PER,PBR,ROE,ROA,ROIC,...,투자활동,재무활동,금리,금리등락률,GDP,GDP등락률,유가,유가등락률,S&P500,Sector
0,0,AAPL,24.Q3,6.08,3.71,36.95,60.81,137.90,27.0,44.40,...,"1,445","-24,948",5.25,-0.25,3.1,0.1,84.00,-1.26,562.01,Computer and Technology
1,1,AAPL,24.Q2,6.57,4.36,31.68,48.42,147.20,29.7,42.50,...,-127,"-36,017",5.50,0.00,3.0,1.4,85.26,3.96,534.01,Computer and Technology
2,2,AAPL,24.Q1,6.43,4.82,26.38,35.69,148.30,29.1,41.00,...,-310,"-30,433",5.50,0.00,1.6,-1.6,81.30,-2.24,521.21,Computer and Technology
3,3,AAPL,23.Q4,6.42,4.78,29.67,40.41,156.00,29.4,40.70,...,"1,927","-30,585",5.50,0.00,3.2,-1.2,83.54,-3.18,469.33,Computer and Technology
4,4,AAPL,23.Q3,6.13,3.95,27.60,43.07,160.80,28.4,38.70,...,"2,394","-23,153",5.50,0.25,4.4,2.0,86.72,8.92,443.37,Computer and Technology

In [26]:
merged_basic_detail_df['Sector'].unique()

array(['Computer and Technology', 'Retail/Wholesale', 'Auto/Tires/Trucks',
       'Finance', 'Medical', 'Business Services', 'Oils/Energy',
       'Consumer Staples', 'Consumer Discretionary', 'Transportation',
       'Industrial Products', 'Multi-Sector Conglomerates', 'Aerospace',
       'Utilities', 'Basic Materials', 'Construction'], dtype=object)

In [30]:
ticker_df = pd.DataFrame(final_df_ticker)
ticker_df.to_csv('final_ticker.csv', index = False)