In [11]:
import pandas as pd
market_data_path = '/Users/shin-yoonhwan/vscode/stock_data/data/maket_data.csv'
market_data_df = pd.read_csv(market_data_path)
market_data_df.shape

(25, 8)

In [17]:
df = pd.DataFrame(market_data_df)
df_repeated = pd.concat([df] * 486, ignore_index=True)
print(df_repeated.shape)

(12150, 8)

In [20]:
df_repeated = df_repeated.drop(columns=['Quarter'])
df_repeated.head()

     금리  금리등락률  GDP  GDP등락률     유가  유가등락률  S&P500
0  5.25  -0.25  3.1     0.1  84.00  -1.26  562.01
1  5.50   0.00  3.0     1.4  85.26   3.96  534.01
2  5.50   0.00  1.6    -1.6  81.30  -2.24  521.21
3  5.50   0.00  3.2    -1.2  83.54  -3.18  469.33
4  5.50   0.25  4.4     2.0  86.72   8.92  443.37

In [21]:
df_repeated.to_csv('repeated_df.csv')